body {
  background: #ECF0F9;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #000000;
  font-size: 12px;
}

.my-card {
  height: auto;
  background: #ecf0f9 ;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(195, 203, 216, 0.5), -6px -6px 6px #ffffff99;
  overflow: hidden;
  transition: all 0.5s;
}
.my-card:hover{
  
}
.product {
  padding: 10px;
  width: auto;
  height: 200px;
}
.card img {
  border-radius: 30px;
}
.number {
  font-size: 24px;
}
.my-card .number.danger {
  color: red;
}